body {
  background-color: #000;
}
@keyframes all {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes small {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(-360deg) rotateY(-360deg) rotateZ(360deg);
  }
}
@keyframes big {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(200px);
  }
  to {
    transform: rotateX(-360deg) rotateY(-360deg) rotateZ(360deg) translateZ(450px);
  }
}
@keyframes big_1 {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(-200px);
  }
  to {
    transform: rotateX(-360deg) rotateY(-360deg) rotateZ(360deg) translateZ(-450px);
  }
}
@keyframes big_2 {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(200px);
  }
  to {
    transform: rotateX(-360deg) rotateY(-360deg) rotateZ(360deg) translateX(450px);
  }
}
@keyframes big_3 {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(-200px);
  }
  to {
    transform: rotateX(-360deg) rotateY(-360deg) rotateZ(360deg) translateX(-450px);
  }
}
@keyframes big_4 {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(200px);
  }
  to {
    transform: rotateX(-360deg) rotateY(-360deg) rotateZ(360deg) translateY(450px);
  }
}
@keyframes big_5 {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(-200px);
  }
  to {
    transform: rotateX(-360deg) rotateY(-360deg) rotateZ(360deg) translateY(-450px);
  }
}
.all {
  width: 600px;
  height: 600px;
  margin: 30px auto;
  position: relative;
  transform-style: preserve-3d;
  animation: all alternate 20s linear infinite;
}
.all section {
  width: 500px;
  height: 500px;
  margin: 30px auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform-style: preserve-3d;
}
.all .small {
  animation: small alternate 10s infinite linear;
}
.all .small .box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  border-radius: 50%;
  line-height: 100px;
  font-weight: 700;
  transform-style: preserve-3d;
  opacity: 0.8;
}
.all .small .box:nth-child(1) {
  background: linear-gradient(45deg, pink, red);
  transform: rotateY(90deg) translateZ(-50px);
}
.all .small .box:nth-child(2) {
  background: linear-gradient(45deg, pink, orange);
  transform: rotateY(90deg) translateZ(50px);
}
.all .small .box:nth-child(3) {
  background: linear-gradient(45deg, pink, yellow);
  transform: rotateX(90deg) translateZ(50px);
}
.all .small .box:nth-child(4) {
  background: linear-gradient(45deg, pink, green);
  transform: rotateX(90deg) translateZ(-50px);
}
.all .small .box:nth-child(5) {
  background: linear-gradient(45deg, pink, skyblue);
  transform: translateZ(50px);
}
.all .small .box:nth-child(6) {
  background: linear-gradient(45deg, pink, purple);
  transform: translateZ(-50px);
}
.all .big {
  animation: big alternate 15s infinite linear;
}
.all .big .scale {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 20%;
  opacity: 0.6;
}
.all .big .scale:nth-child(1) {
  background: linear-gradient(45deg, orange, red);
  transform: rotateY(90deg) translateZ(-100px);
}
.all .big .scale:nth-child(2) {
  background: linear-gradient(45deg, yellow, orange);
  transform: rotateY(90deg) translateZ(100px);
}
.all .big .scale:nth-child(3) {
  background: linear-gradient(45deg, green, yellow);
  transform: rotateX(90deg) translateZ(100px);
}
.all .big .scale:nth-child(4) {
  background: linear-gradient(45deg, skyblue, green);
  transform: rotateX(90deg) translateZ(-100px);
}
.all .big .scale:nth-child(5) {
  background: linear-gradient(45deg, purple, skyblue);
  transform: translateZ(100px);
}
.all .big .scale:nth-child(6) {
  background: linear-gradient(45deg, red, purple);
  transform: translateZ(-100px);
}
.all .big_1 {
  animation: big_1 alternate 15s infinite linear;
}
.all .big_2 {
  animation: big_2 alternate 15s infinite linear;
}
.all .big_3 {
  animation: big_3 alternate 15s infinite linear;
}
.all .big_4 {
  animation: big_4 alternate 15s infinite linear;
}
.all .big_5 {
  animation: big_5 alternate 15s infinite linear;
}
